body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  background-color: #ffffff;
}


.header-overlay {
  background: rgba(0, 0, 0, 0.45);
}


.card-img-top {
  height: 200px;
  object-fit: cover;
}
